body {
	font-family: 'Roboto', sans-serif;	
	margin: 0;
	/* transition: all 1.0s linear;
	-webkit-transition: all 1.0s linear;
	-moz-transition: all 1.0s linear; */
}


/* bootstrap navbar settings */
.logo {
	margin: 0 10px 0 70px;
	width: 40px;
	opacity: 0.9;
}
.navbar {
	padding-top: 3px;
	padding-bottom: 3px;
	opacity: 0;
	transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
}
.navbar:hover {
	opacity: 0.8;
}
.nav-link {
	font-size: 17px;
	padding-left: 12px !important;
	padding-right: 12px !important;
}


#container1 {
	width: 400px;
	margin: 75px auto 100px auto;
	border: 2px solid gray;
	background-color: #f7f7f7;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
	font-family: 'Dancing Script', cursive;
	background-color: #2980b9;
	color: white;
	margin: 0;
	line-height: 1.25;
	padding: 6px 7px 6px 20px;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 700;
	text-transform: capitalize;
	align-items: center;
	text-align: center;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

#plus {
	float: right;
}

#minButton {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	bottom: 1px;
	color: rgb(248, 248, 248);
	background: #2980b9;
	border: none;
	width: 30px;
	height: 30px;
	line-height: 10px; /* this and "height" key to centering the text in this button */
	font-size: 24px;
	/* font-weight: bold; */
	margin: 0px 6px 0px 0px;
	padding: 0;
	text-align: center;
	/* top: 5px; */
}

#minButton:hover {
	background: #3293d3;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}

#minButton:active {
	background: #318cc9;
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

#todoInput {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: #f7f7f7; 
	color: #478fc0;
	padding: 13px 13px 9px 20px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* background-color: aquamarine; */
	-moz-transition: font-size .3s linear, height .3s linear, padding-top .3s linear, border .3s linear;
	-webkit-transition: font-size .3s linear, height .3s linear, padding-top .3s linear, border .3s linear;
	transition: font-size .3s linear, height .3s linear, padding-top .3s linear, border .3s linear;
	border: 3px solid rgba(0, 0, 0, 0);
}

#todoInput:focus {
	background: white;
	border: 3px solid #2980b9;
	outline: none;
}

.uls {
	list-style: none;
	margin: 0;
	padding: 0;
}

.lis {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: white;
	font-size: 16px;
	padding: 4px 0px 2px 20px;
	height: 40px;
	line-height: 40px;
	color: rgb(78, 78, 78);
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.liText {
	display: inline-block;
	text-decoration: inherit;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.lis:nth-child(2n) {
	background-color: #f7f7f7;
}

.lis:nth-child(2n) span {
	background-color: #f7f7f7;
}

.lis span {
	transition: width 0.2s linear, opacity 0.2s linear;
	-moz-transition: width 0.2s linear, opacity 0.2s linear;
	-webkit-transition: width 0.2s linear, opacity 0.2s linear;
}

.lis:hover span {
	width: 32px;
	opacity: 1.0;
	transition: width 0.2s linear, opacity 0.2s linear;
	-moz-transition: width 0.2s linear, opacity 0.2s linear;
	-webkit-transition: width 0.2s linear, opacity 0.2s linear;
}

.trash, .check {
	background-color: white;
	height: 40px;
	margin-right: 0px;
	text-align: center;
	color: rgb(199, 199, 199);
	width: 0px;
	opacity: 0;
	float: right;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

.trash {
	margin-right: 7px;
}

.check:hover {
	color: rgb(0, 172, 0);
}

.trash:hover {
	color: rgb(255, 0, 0);
}

.completed {
	color: rgb(180, 180, 180);
	text-decoration: line-through;
}

.vanillaFade {
	opacity: 0;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;	
}

.vanillaToggle {
	margin-top: 0;
	overflow: hidden;
	font-size: 1px;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	border: none;
}


/* Compliment Text */
#compWrapper {
	display: none; 
	/* initial display property*/
	position: fixed;
	width: 100%;
	height: 40vh;
	padding-top: 15vh;
	top: 10vh;
	z-index: 3;
	align-items: center;
}

.ml2 {
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
	font-size: 9vw;
	word-spacing: 50%;
	letter-spacing: -0.05ex;
	text-transform: none;
	text-shadow: 3px 3px 7px rgb(70, 70, 70);
	opacity: 0.6;
	background: rgba(0, 0, 0, 0.0);
	text-align: center;
	padding: 0;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}


@media only screen and (max-width: 550px){
	.navbar {
		opacity: 0.9;
	}
	.navbar:hover {
		opacity: 0.9;
	}
	.logo {
		margin: 0 10px 0 10px;
	}

	#minButton {
		font-weight: 500;
	}
	#minButton:hover {
		background: #2980b9;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.0);
		border: none;
	}

	.lis {
		font-weight: 500;
	}

	.liText {
		max-width: 70%;
	}

	#compWrapper {
		height: 80vh;
		padding-top: 22vh;
		align-items: inherit;
	}

	.ml2 {
		font-size: 17vw;
	}

	.trash, .check {
		width: 32px;
		opacity: 0.8;
	}

	.check:hover {
		color: rgb(199, 199, 199);
	}

	.check:active {
		color: rgb(0, 172, 0)
	}
	
	#container1 {
		width: 95vw;
		margin: 50px auto 100px auto;
	}
} 
