body {
	font-family: 'Roboto', sans-serif;	
	margin: 0;
	/* transition: all 1.0s linear;
	-webkit-transition: all 1.0s linear;
	-moz-transition: all 1.0s linear; */
}

#container {
	width: 360px;
	margin: 100px auto;
	border: 2px solid gray;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

h1 {
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 7px 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	align-items: center;
}

#plus {
	float: right;
}

button {
	color: white;
	background: #2980b9;
	border: none;
	width: 40px;
	height: 28px;
	line-height: 10px; /* this and "height" key to centering the text in this button */
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	top: 5px;
}

input {
	font-size: 18px;
	background-color: #f7f7f7; 
	color: #2980b9;
	padding: 13px 13px 13px 20px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* background-color: aquamarine; */
	font-size: inherit;
	-moz-transition: font-size .3s linear, height .3s linear, padding-top .3s linear, border .3s linear;
	-webkit-transition: font-size .3s linear, height .3s linear, padding-top .3s linear, border .3s linear;
	transition: font-size .3s linear, height .3s linear, padding-top .3s linear, border .3s linear;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
	background: white;
	border: 3px solid #2980b9;
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background-color: white;
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	color: rgb(75, 75, 75);
}

li:nth-child(2n) {
	background-color: #f7f7f7;
}

li:nth-child(2n) span {
	background-color: #f7f7f7;
}

li span {
	transition: width 0.2s linear, opacity 0.2s linear;
	-moz-transition: width 0.2s linear, opacity 0.2s linear;
	-webkit-transition: width 0.2s linear, opacity 0.2s linear;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
	transition: width 0.2s linear, opacity 0.2s linear;
	-moz-transition: width 0.2s linear, opacity 0.2s linear;
	-webkit-transition: width 0.2s linear, opacity 0.2s linear;
}

.trash {
	background-color: white;
	height: 40px;
	margin-right: 0px;
	text-align: center;
	color: rgb(226, 226, 226);
	width: 0px;
	opacity: 0;
	float: right;
}

.trash:hover {
	color: rgb(255, 0, 0);
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

.vanillaFade {
	opacity: 0;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;	
}

.vanillaToggle {
	margin-top: 0;
	overflow: hidden;
	font-size: 1px;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	border: none;
}


/* Compliment Text */
#compWrapper {
	display: none; 
	/* initial display property*/
	position: fixed;
	width: 100%;
	height: 40vh;
	padding-top: 15vh;
	top: 10vh;
	z-index: 3;
	align-items: center;
}

.ml2 {
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
	font-size: 10vw;
	word-spacing: 50%;
	letter-spacing: -0.05ex;
	text-transform: none;
	text-shadow: 3px 3px 7px rgb(70, 70, 70);
	opacity: 0.6;
	background: rgba(0, 0, 0, 0.0);
	text-align: center;
	padding: 0;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}


@media only screen and (max-width: 550px){
	.ml2 {
		font-size: 17vw;
	}

	.trash {
		width: 40px;
		opacity: 1.0;
	}
} 